<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <h1><%= message %></h1>
    <ul>
      <% people.forEach((person) => { %>
      <li><%= person %></li>
      <% }); %>
    </ul>
  </body>
</html>
